@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #fefaf0;
}


.input {
  color:#ffffff;
  width: 100%;
  height: 44px;
  background-color: #38393d99;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: 1rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}

.button {
  width: 50%;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #FD904D;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button:hover {
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.button:active {
  background-color: #c57906;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
